<div class="row my-5">
    <div class="col">
        <h1 class="text-center">도서검색</h1>
    </div>
    <div class="row my-5">
        <div class="col">
            <div class="row mb-2 justify-content-end">
                <form name="frm" class="col-6 col-md-4 col-lg-3"><!-- 일반, 미들, 라지 해상도 -->
                    <div class="input-group">
                        <input name="query" class="form-control" value="자바">
                        <button class="btn btn-primary">검색</button>
                    </div>
                </form>
            </div>
            <hr />
            <div id="div_books" class="row"></div>
            <div class="text-center mt-3" id="div_page">
                <button class="btn btn-primary" id="prev">이전</button>
                <span class="mx-3" id="span_page">1/10</span>
                <button class="btn btn-primary" id="next">다음</button>
            </div>
        </div>
    </div>  
    <div id="div_books"></div>
</div>

<script type="x-handlebars-template" id="temp_books">
    <table class="table">
        {{#each documents}}
        <tr>
            <td>
                <img src="{{thumbnail}}">
            </td>
            <td>{{title}}</td>
            <td>{{ price }}</td>
            <td>{{authors}}</td>
        </tr>  
        {{/each}}
    </table>
</script>
<script>
    let query=$(frm.query).val();
    let page=1;

    $(frm).on("submit", function(e){
        e.preventDefault();
        query=$(frm.query).val();
        if(query=="") {
            alert("검색 내용을 입력하세요!");
            $(frm.query).focus();
        }else{
            page=1;
            getList();
        }
    });

    $("#next").on("click", function() {
        page++;
        getList();
    })

    $("#prev").on("click", function() {
        page--;
        getList();
    })

    getList();
    function getList() {
        $.ajax({
            type:'get',
            url:'https://dapi.kakao.com/v3/search/book?target=title',
            headers:{Authorization:"KakaoAK 29e82fbcca120b0de0f8be1f9ce91a29"},
            data:{ query:query, page:page, size:6 },
            dataType:'json',
            success:function(data){
                temp=Handlebars.compile($("#temp_books").html());
                $("#div_books").html(temp(data));
                $("#span_page").html(page);
                if(page==1) {
                    $("#prev").attr("disabled", true)
                }else {
                    $("#prev").attr("disabled", false);
                }
                if(data.meta.is_end) {
                    $("#next").attr("disabled", true)
                }else {
                    $("#next").attr("disabled", false);
                }
                let last=Math.ceil(data.meta.pageable_count/6);
                if(data.meta.pageable_count>0){
                    $("#div_page").show();
                    $("#span_page").html(page + "/" + last);
                }else{
                    $("#div_page").hide();
                    $("#div_books").html(`<h1 class='text-center'>'${query}' 도서가 존재하지 않습니다.</h1>`)
                }
            }
        });
    }
</script>