<div class="row my-5">
  <div class="col">
    <h1 class="text-center">도서 검색</h1>
    <div id="div_books"></div>
  </div>
</div>
<script type="x-handlebars-template" id="temp_books">
  <table class="table">
      {{#each documents}}
      <tr>
          <td><img src="{{thumbnail}}"  width="50"></td>
          <td>{{title}}</td>
          <td>{{price}}</td>
          <td>{{authors}}</td>
      </tr>

      {{/each}}
  </table>
</script>

<script>
  //도서 검색 데이터 불러오기
  getBooks();

  function getBooks() {
    $.ajax({
      type: "get",
      url: "https://dapi.kakao.com/v3/search/book",
      headers: { Authorization: `KakaoAK 29e82fbcca120b0de0f8be1f9ce91a29` },
      data: { query: "자바", page: 1, size: 5 },
      success: function (data) {
        console.log(data);
        let temp = Handlebars.compile($("#temp_books").html());
        $("#div_books").html(temp(data));
      },
    });
  }
</script>
