<div class="row my-5">
    <div class="col">
        <h1 class="text-center">지역검색</h1>
        <div class="row mb-2 justify-content-end">
            <form name="frm" class="col-6 col-m-4 col-lg-3">
                <div class="input-group">
                    <input name="query" class="form-control" value="인하대학교">
                    <button class="btn btn-primary">검색</button>
                </div>
            </form>
        </div>
        <hr>
        <div id="div_locals"></div>

        <!--페이지 이동-->
        <div class="text-center">
            <button id="prev" class="btn btn-primary">이전</button>
            <span id="span_page" class="mx-3">1/10</span>
            <button id="next" class="btn btn-primary">다음</button>
        </div>
    </div>
</div>
<!--템플릿-->
<!-- each로 반복하는 documents를 this에 가져옴 f12해보면 local="[object Object]"-->
<script type="x-handlebars-template" id="temp_locals">
    <table class="table">
        {{#each documents}}
        <tr>
            <td>{{place_name}}</td>
            <td>{{address_name}}</td>
            <td>{{phone}}</td>
            <td><button class="btn btn-primary btn-sm" local="{{toString @this}}">즐겨찾기</button></td>
        </tr>    
        {{/each}}
    </table>    
</script>

<!-- local="{{toString @this}}에서 toString은 함수 toString 가져오고 @this는 function(local)에 local을 가져옴--> 

<script>
    Handlebars.registerHelper("toString", function(local){
        return JSON.stringify(local); // object -> string으로 변환
    });
</script>

<script type="module">
    import {app} from '/javascripts/firebaseInit.js';
    import { getDatabase, ref, set, get  } // getDatabase=데이터베이스가져와 / ref=어디에 쓸건지 주소 / set=쓰기 / get=장바구니에 이미 있는지 확인하려고 get으로 읽음
    from "https://www.gstatic.com/firebasejs/10.4.0/firebase-database.js";
    const db=getDatabase(app); //데이터베이스를 db에 가져와 설정파일이 app에 있으니까 ()안에 app

    let page=1;
    let query=$(frm.query).val();

    $(frm).on("submit", function(e){
        e.preventDefault();
        query=$(frm.query).val();
        page=1;
        getLocals();
    });

    // 즐겨찾기 버튼 누른 경우
    $("#div_locals").on("click", ".btn", async function(){ 
        //alert("클릭클릭"); 버튼 클릭 잘 되는지 확인
        if(!sessionStorage.getItem("uid")){ // 로그인이 안되있을 때
            alert("로그인이 필요합니다.")
            sessionStorage.setItem("target", "/locals"); //타켓을 세션스토리지에서 꺼내서 타겟이 있으면 타겟으로 이동 없으면 홈으로 이동
            location.href="/users/login";
        }else{ //로그인이 된 경우
            const local=JSON.parse($(this).attr("local")) //여기서 this는 .btn
            // JSON.parse 써서 string -> object로 변환
            console.log(local)
            const ref_local=`favorite/${sessionStorage.getItem("uid")}/${local.id}`; // ``문자열 변수 혼합해서 사용 가능
            const snapshot=await get(ref(db,ref_local)); //async await 안해주면 가져올때 비동기식(get)이여서 엄청 느리기 때문에 가져오기전에 다른거 가져올 수 있어서 기다리라는거임
            console.log(snapshot.val());
            if(snapshot.val()){
                alert("이미 즐겨찾기에 등록되어 있습니다.")
            }else{
                await set(ref(db, ref_local), local);
                alert("즐겨찾기에 등록되었습니다.")
            } 
        }
    })

    //다음버튼을 클릭한 경우
    $("#next").on("click", function(){
        page++;
        getLocals();
    });

      //이전버튼을 클릭한 경우
      $("#prev").on("click", function(){
        page--;
        getLocals();
    });

    getLocals();
    
    //지역검색 데이터 불러오기
    function getLocals(){
        $.ajax({
            type:"get",
            url:"https://dapi.kakao.com/v2/local/search/keyword.json",
            headers:{"Authorization":"KakaoAK f23e7e2e27ac02c8ef22fe940b70cfd0"},
            data:{query:query, page:page, size:5},
            success:function(data){
                console.log(data);
                let temp=Handlebars.compile($("#temp_locals").html());
                $("#div_locals").html(temp(data));

                let last=Math.ceil(data.meta.pageable_count/5);
                $("#span_page").html(page + "/" + last);

                if(page==1) $("#prev").attr("disabled", true);
                else $("#prev").attr("disabled", false);

                if(data.meta.is_end) $("#next").attr("disabled", true);
                else $("#next").attr("disabled", false);
            }
        });
    }
</script>