<div class="row my-5"> <!-- maximum 5 까지, my-5 는 아래로 (x-y, t-b)-->
    <div class="col"> <!-- 12개까지 col 지정 가능 -->
        <h4 class="text-center">Copyright 2023. 인하대학교 이건휘 All rights reserved </h4>
    </div>
</div>