<nav class="navbar bg-primary navbar-expand-lg" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">HOME</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/books">도서검색</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/locals">지역검색</a>
          </li>
          <li class="nav-item" id="cart" style="display:none;">
            <a class="nav-link active" aria-current="page" href="/books/cart">장바구니</a>
          </li>
          <li class="nav-item" id="favorite" style="display:none;">
            <a class="nav-link active" aria-current="page" href="/locals/favorite">즐겨찾기</a>
          </li>
        </ul>
        <ul class="navbar-nav d-flex"> <!--d-flex 오른쪽 메뉴-->
            <li class="nav-item" id="login">
              <a class="nav-link active" aria-current="page" href="/users/login">LOGIN</a>
            </li>
            <li class="nav-item" id="email" style="display:none;"> <!--style="display:none 처음에 안보이게 하는거 -->
              <a class="nav-link active" aria-current="page" href="/users/mypage">email</a>
            </li>
            <li class="nav-item" id="logout" style="display:none;">
              <a class="nav-link active" aria-current="page" href="/users/logout">LOGOUT</a>
            </li>
          </ul>
      </div>
    </div>
  </nav>
  <script>
    if(sessionStorage.getItem("email")){ //sessionStorage로 가져오는거임 로그인 정보를
      $("#login, #email, #logout, #cart, #favorite").toggle(); //#login, #email, #logout, #cart를 토글해라
      $("#email a").html(sessionStorage.getItem("email")); // a태그에 email을 넣어주는거임 그래서 로그인하면 email이 보이는거
    }

    $("#logout").on("click", "a", function(e){
      e.preventDefault(); //a태그 따라서 가는거 멈춰! 일단 이동하지마!
      if(confirm("정말 로그아웃 하실껀가요?")) {
        sessionStorage.clear(); //sessionStorage 값을 클리어해줌 로그아웃이니까
        location.href="/"; // 루트로 이동 후 다시 토글되서 login, #email, #logout 보이는건 안보이게 안보이는건 보이게
      }
    })
  </script>