@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&family=Yeon+Sung&display=swap');

* {
  font-family: 'Hi Melody', cursive;
font-family: 'Yeon Sung', cursive;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
